<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Confort Termico</title>
        <link rel="stylesheet" href="../../static/css/main.css" />
        <link rel="stylesheet" href="../../static/css/navbar.css" />
        <link rel="stylesheet" href="../../static/css/social/confort_terminco.css" />
        <link
            rel="shortcut icon"
            href="../../static/img/GEES.png"
            type="image/x-icon"
        />
    </head>
    <body class="hidden">
        <div class="center" id="onload">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container_nav">
                <div class="logo">
                    <div class="logos_name">
                        <a href="../index.html">
                            <img src="../../static/img/logo_name.png" alt="">
                        </a>
                    </div>
                    <div class="name">
                        <h2>Categoría</h2>
                        <h1>SOCIAL</h1>
                    </div>
                    <div class="codigo">
                        <img src="../../static/img/codigo_ct.png" alt="">
                    </div>
                </div>
            </div>
        </nav>

        <section class="main_tama">
            <div class="eje">
                <h3>Eje temático</h3>
            </div>
            <div class="title_main">
                <img src="../../static/img/confort_termico/title_ct.png" alt="">
            </div>
            <div class="objetivo">
                <h2>Objetivo:</h2>
            </div>
            <div class="text_obj">
                <p>
                    Generar condiciones de bienestar en los residentes garantizando confort térmico en las viviendas por medio de un método prescriptivo de estrategias bioclimáticas para clima cálido húmedo.
                </p>
            </div>

            <div class="objetivo">
                <h2>Estrategias:</h2>
            </div>
            <div class="box_main">
                <img class='inde' src="../../static/img/confort_termico/inde.png" alt="">
                <div class="text">
                    <p>
                        <span class="code">
                            <b>SC-CT-1:</b> 
                        </span>
                        <span class="orienta">
                            <a href="./orientacion.html">
                                <b>Orientación:</b>
                            </a>
                        </span>
                        Demostrar que las decisiones de implantación de las tipologías arquitectónicas responden a la evaluación de la orientación de las viviendas en relación al recorrido solar y al mejoramiento del confort térmico de los ocupantes (Método prescriptivo).
                    </p>
                </div>
                <p class="ficha">
                    Dirigirse a Ficha contexto: <span> C-01-04 </span>
                </p>
                <p class="ficha_estra">
                    Articulado con  Estrategia: <span> AMB-I-5 </span>
                </p>
            </div>
            <div class="box_main">
                <img class='inde_1' src="../../static/img/confort_termico/e-i.png" alt="">
                <div class="text">
                    <p>
                        <span class="code">
                            <b>SC-CT-2:</b> 
                        </span>
                        <span class="orienta">
                            <a href="#">
                                <b>Configuración espacial en función del confort térmico:</b>
                            </a>
                        </span>
                        Articular la distribución arquitectónica del interior de las viviendas con las condiciones térmicas, los horarios de ocupación y uso de los espacios (Método prescriptivo).
                    </p>
                </div>
            </div>
            <div class="box_main">
                <img class='inde_2' src="../../static/img/confort_termico/e-i.png" alt="">
                <div class="text">
                    <p>
                        <span class="code">
                            <b>SC-CT-3:</b> 
                        </span>
                        <span class="orienta">
                            <a href="#">
                                <b>Protección solar: </b>
                            </a>
                        </span>
                        Implementar eficientemente componentes de protección solar para proteger interiores de la incidencia solar directa; tener en cuenta: relación ventana pared y elementos de protección solar ya sean horizontales, verticales, combinados, fijos o móviles según, sea el caso.
                    </p>
                </div>
                <p class="ficha">
                    Dirigirse a Ficha contexto: <span> C-01-04 </span>
                </p>
            </div>
            <div class="box_main">
                <img class='inde_3' src="../../static/img/confort_termico/e-i.png" alt="">
                <div class="text">
                    <p>
                        <span class="code">
                            <b>SC-CT-4:</b> 
                        </span>
                        <span class="orienta">
                            <a href="#">
                                <b>Ventilación natural:</b>
                            </a>
                        </span>
                        Ventilar de forma natural los espacios al interior de las viviendas para lograr reducir la sensación térmica de los residentes, y evacuar las ganancias de calor al interior. Tener en cuenta: vientos predominantes, tamaño y localización de aperturas, porcentaje de aperturas.
                    </p>
                </div>
                <p class="ficha_estra">
                    Articulado con  Estrategia: <span> SC-CS-2 </span>
                </p>
                <p class="ficha">
                    Dirigirse a Ficha contexto: <span> C-01-05 </span>
                </p>
            </div>
            <div class="box_main">
                <img class='inde_4' src="../../static/img/confort_termico/e-i.png" alt="">
                <div class="text">
                    <p>
                        <span class="code">
                            <b>SC-CT-5:</b> 
                        </span>
                        <span class="orienta">
                            <a href="#">
                                <b>Materialidad: </b>
                            </a>
                        </span>
                        Seleccionar adecuadamente los materiales opacos (cubierta, muros y contrapisos) y los materiales traslúcidos en función del correcto comportamiento del ambiente térmico interior.
                    </p>
                </div>
                <p class="ficha_estra">
                    Articulado con  Estrategia: <span class="mar"> EC-M </span> <span class="mar"> SC-CA-2 </span> <span class="mar"> SC-CV-1 </span> <span class="mar"> SC-CS-2 </span>
                </p>
            </div>
            
        </section>


        <script src="../../static/js/jquery-3.6.0.min.js"></script>
        <script src="../../static/js/cargador.js"></script>
    </body>
</html>
