<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Confort Termico</title>
        <link rel="stylesheet" href="../../static/css/main.css" />
        <link rel="stylesheet" href="../../static/css/navbar.css" />
        <link
            rel="stylesheet"
            href="../../static/css/social/orientacion.css"
        />
        <link
            rel="shortcut icon"
            href="../../static/img/GEES.png"
            type="image/x-icon"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Artifika&display=swap" rel="stylesheet">
    </head>
    <body class="hidden">
        <div class="center" id="onload">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- <img class="font" src="../../static/img/fondo_sin.png" alt="" /> -->
        <nav class="navbar">
            <div class="container_nav">
                <div class="logo">
                    <div class="logos_name">
                        <a href="../index.html">
                            <img src="../../static/img/logo_name.png" alt="" />
                        </a>
                    </div>
                    <div class="name">
                        <h5>Matriz de implementacion y evaluacion</h5>
                        <h4>Eje tematico</h4>
                        <a href="../Social/confort_termico.html">
                            <h2>Confort termico</h2>
                        </a>
                    </div>
                    <div class="codigo">
                        <img src="../../static/img/confort_termico/title_ct-1.png" alt="" />
                    </div>
                </div>
            </div>
        </nav>

        <section class="main_tama">
            <div class="title_main">
                <img
                    src="../../static/img/confort_termico/ORIENTACION.png"
                    alt=""
                />
            </div>
            <div class="objetivo">
                <h2>Objetivo:</h2>
            </div>
            <div class="text_obj">
                <p>
                    Demostrar que las decisiones de implantación de las
                    tipologías arquitectónicas responden a la evaluación de la
                    orientación de las viviendas en relación al recorrido solar
                    y al mejoramiento del confort térmico de los ocupantes
                    (Método prescriptivo).
                </p>
            </div>

            <div class="objetivo">
                <h2>Premisas:</h2>
            </div>
            <div class="box_main">
                <div class="text">
                    <p>
                        La orientación de la vivienda se define por la posición
                        de los volúmenes arquitectónicos y como interactúa el
                        proyecto con la trayectoria del sol. Las latitudes que
                        enmarcan a Colombia se extienden desde los 4º 13´ 30" de
                        latitud sur, hasta los 12º 27´46" de latitud norte.
                        Debido a esta localización, los pasos solares son casi
                        simétricos con relación al eje E-O gracias a la cercanía
                        con la línea del Ecuador. Sin embargo, es importante
                        entender tanto la variación diaria, como anual del sol.
                        En el transcurso de un año, en el periodo entre
                        diciembre y junio el sol se traslada hacia el norte y
                        obtiene su máxima posición el día 21 de junio (solsticio
                        de verano), y de junio a diciembre se desplaza al sur
                        obteniendo su posición máxima el 21 de
                        diciembre(solsticio de invierno). El 21 de marzo y 21 de
                        septiembre, el sol se localiza casi en el centro de su
                        recorrido y estos días son denominados equinoccios.
                    </p>
                </div>
                <img class="presisas" src="../../static/img/confort_termico/premisas.png" alt="">
            </div>
            <div class="box_main">
                <div class="text">
                    <p>
                        Esta premisa es fundamental para el análisis de preexistencias climáticas y ambientales en el desarrollo de los proyectos, sustenta las recomendaciones de GEES en el método prescriptivo y las decisiones del equipo diseñador.
                    </p>
                </div>
            </div>
            <div class="box_main">
                <h3>Recomendaciones método prescriptivo:</h3>
                <div class="text">
                    <p>
                        Para las viviendas de interés social de tipología aisladas o agrupadas en clima cálido húmedo, se recomienda:
                    </p>
                </div>
                <ul>
                    <li>Ubicar las fachadas más largas y aperturas mirando hacia N-S</li>
                    <li>Puede que su fachada más larga posea limitaciones para orientarse con las recomendaciones GEES; si este es el caso, lo recomendable es localizar las aperturas viendo N-S.</li>
                    <li>Si posee limitaciones para orientar aperturas viendo N-S, es permisible localizar aperturas viendo  O-E, siempre y cuando la fachada más larga del proyecto mire hacia N-S.</li>
                </ul>
                <img class="presisas" src="../../static/img/confort_termico/ubica.png" alt="">
            </div>
            <div class="box_main">
                <div class="text">
                    <img class="presisas" src="../../static/img/confort_termico/tabla.png" alt="">
                </div>
            </div>
            <div class="box_main">
                <h3>Anexos:</h3>
                <ul>
                    <li>En el informe bioclimático evaluar la posición del lote en relación al norte geográfico, describir la orientación del proyecto con respecto a la trayectoria solar y el cumplimiento de las recomendaciones de orientación de GEES (SC-CT-1). </li>
                    <li>Si aplica, explicar las limitaciones que el predio presenta para una libre orientación del proyecto.</li>
                    <li>Estrategia articulada con eje temático implantación (AMB-I-5), eficiente orientación de: </li>
                    <li>tipologías de vivienda, especies arbóreas (sombras), zonas de permanencia, espacios abiertos.</li>
                </ul>
            </div>
        </section>

        <script src="../../static/js/jquery-3.6.0.min.js"></script>
        <script src="../../static/js/cargador.js"></script>
    </body>
</html>
