.hea{
    width: 80%;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
}

.item{
    width:80px;
    height:10;
    text-align: center;
}
.item2{
    position:relative;
    top:5px;
    right: 15px;
}
.hea .item img{
    width: 50%;
    height: 50%;
}

.row{
    position:relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.row .col{
    width: 100%;
    height:70px;
    border: 2px dotted gray;
    margin-left: 10px;
    margin-right: 10px;
}

.row .col p{
    font-size:14px;
}

/* label de ambiantal dentro del modal */

.col_img .tama{
    width: 260px;
    height: 50px;
    bottom: 20px;
    transition: transform 1s;
    transform: translateY(0%);
    z-index: 10000;
}

.hola{
    position:relative;
    right:185px;
}

.col_img .adios{
    transform: translateY(-1000%);
}

/* label de social dentro del modal */

.col_soci{
    position:relative;
    left:160px;
}

.col_soci .tama{
    position:absolute;
    left:10px;
    top: -25px;
    width: 260px;
    height: 50px;
    transition: transform 1s;
    transform: translateY(0%);
    z-index: 10000;
}

.col_soci .adios{
    transform: translateY(-1000%);
} 

/* label de economico dentro del modal */

.col_eco{
    position:relative;
    left:160px;
}

.col_eco .tama{
    position:absolute;
    right: 170px;
    bottom: 25px;
    width: 260px;
    height: 50px;
    transition: transform 1s;
    transform: translateY(0%);
    z-index: 10000;
}

.col_eco .adios{
    transform: translateY(-1000%);
}

/* imagenes de modals  */
.impla{
    width: 100%;
    height:60px;
    margin-top: 6px;
}

.impla img{
    position: relative;
    top:52px;
    width: 95%;
    height:70px;
    margin-left: 10px;
}

.cont:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media screen and (min-width:1400px) {
    .row .col p{
        font-size:16px;
    }

    .col_img .tama{
        width: 360px;
        height: 70px;
        bottom: 45px;
        right: 350px;
    }
    
    .col_eco .tama{
        right: 170px;
        top: 23px;
        width: 360px;
        height: 70px;
    }

    .col_soci .tama{
        left:85px;
        top: -25px;
        width: 360px;
        height: 70px;
    }

    .impla{
        margin-top: 2px;
        height:70px;
    }
    
    .impla img{
        top:70px;
        margin-left: 10px;
    }
}

