*{
    padding:0;
    margin:0
}
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.ambi{
    position:relative;
    left: 85px;
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.eco{
    position:relative;
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.soci{
    position:relative;
    left: 54px;
    top: -131px;
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.letra {
    color:black;
}


.hola{
    margin-left: 80px;
}

btn_am{
    background: transparent;
}

.move_ambi{
    top: 410px;
    left:-350px;
}

.eco_ambi{
    top: 410px;
    left:490px;
}

.cal{
    border: 2px red solid;
    width: 350px;
}

