/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.logo{
    width: 90%;
}

.letra {
    color:black;
}

.ambiental{
    position: absolute;
    top:290px;
    left:720px;
    width:150px;
    height:150px;
    background: transparent;
    cursor: pointer;
}
.ambiental-l{
    position: absolute;
    top:150px;
    left:5px;
}

.economico{
    position: absolute;
    top:290px;
    left:985px;
    width:150px;
    height:150px;
    background: transparent;
    cursor: pointer;
}
.economico-l{
    position: absolute;
    top:150px;
    left:5px;
}

.social{
    position: absolute;
    top:580px;
    left:840px;
    width:150px;
    height:150px;
    background: transparent;
    cursor: pointer;
}

.social-l{
    position: absolute;
    top:130px;
    left:35px;
}

.tooltips{
	font-weight: normal;
}   

.tooltips:hover {
	text-decoration: underline;
}

.tooltips:hover .tooltip-box{
	display: inline-block;
}

.tooltip-box{
    display:none;
	z-index: 500;
	color: white;
	border-radius: 10px;
}