<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GEES</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <link
            rel="shortcut icon"
            href="../static/img/GEES.png"
            type="image/x-icon"
        />
    </head>
    <body>
        <nav class="navbar navbar-secondary bg-secondary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h3">
                    <h5>GEES</h5>
                </span>
            </div>
        </nav>
        <center>
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="container-fluid mt-md-5">
                            <img
                                class="ambi tooltips img-fluid"
                                src="../static/img/ambi.png"
                                alt=""
                                data-bs-placement="left"
                                title="Ambiental"
                                data-bs-toggle="modal"
                                data-bs-target="#ambiental_modal" 
                            />

                            <img
                                class="eco tooltips img-fluid"
                                src="../static/img/eco.png"
                                alt=""
                                data-bs-placement="left"
                                title="Economico"
                                data-bs-toggle="modal"
                                data-bs-target="#economico_modal" 
                            />
                        </div>
                        <div class="container-fluid">
                            <img
                                class="soci tooltips img-fluid"
                                src="../static/img/soci.png"
                                alt=""
                                data-bs-placement="left"
                                title="Social"
                                data-bs-toggle="modal"
                                data-bs-target="#social_modal" 
                            />
                        </div>
                    </div>
                </div>
            </div>
        </center>

        <!-- modals  -->
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div
            class="modal fade move_ambi"
            id="ambiental_modal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content cal" width="10px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <div class="row">
                                <div class="col-md-12 hola">
                                    <img
                                        src="../static/img/diana.png"
                                        alt=""
                                        width="50px"
                                    />
                                    <span><b>Objetivo:</b></span>
                                </div>
                            </div>
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="sub_title">
                            <h5>
                                Planificación y gestion eficiente de los recursos ambientales y naturales.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal fade eco_ambi"
            id="economico_modal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content cal" width="10px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <div class="row">
                                <div class="col-md-12 hola">
                                    <img
                                        src="../static/img/diana.png"
                                        alt=""
                                        width="50px"
                                    />
                                    <span><b>Objetivo:</b></span>
                                </div>
                            </div>
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="sub_title">
                            <h5>
                                Promover un desarrollo economico local en el territorio.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal fade socil_ambi"
            id="social_modal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content cal" width="10px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <div class="row">
                                <div class="col-md-12 hola">
                                    <img
                                        src="../static/img/diana.png"
                                        alt=""
                                        width="50px"
                                    />
                                    <span><b>Objetivo:</b></span>
                                </div>
                            </div>
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="sub_title">
                            <h5>
                                Fomentar el bienestar del ser humano, garatizar una vida salubable.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
